body
{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.signin 
{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 320px;
    border-radius:17px ;
    border: 2px solid rgba(93, 231, 197, 0.2);
    backdrop-filter: blur(30px);

}
.input-group
{
    display: flex;
    width: 300px;
    height: 25px;
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: transparent;
    padding-left: 10px;
}
h2{
    padding-left: 35%;
    font-size: 39px;
}
.rememberme
{
    margin: 0;
}
label
{
    font-size: 16px;
}
button
{
    width: 300px;
    height: 30px;
    border-radius: 30px;
}
input ::placeholder
{
    color: green;
}
input:checked
{
    color: blue;
}
